html,
body {
    padding: 0;
    margin: 0;
}

body {
    background-color: black; /*#0f0f0f*/
    color: white;
    font-family: "Roboto";
}

::-webkit-scrollbar {
    display: none; /* hide scrollbar for Chrome, Safari, and Opera */
}

h1,
h2,
h3,
h4 {
    padding: 0px;
    margin: 0;
}

.page-container {
    max-width: 1150px;

    /* center main-container */
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    grid-template-columns: auto;
    grid-template-areas:
        "navbar"
        "content";

    display: flex;
    justify-content: center;
    height: 100%;
}

.navbar-container {
    grid-area: navbar;
    position: fixed;
    height: 45px;

    padding-top: 5px;
    width: 100%;

    text-align: center;

    /* floating style */
    /*
    display: flex;
    margin-top: 10px;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    */
}

.content-container {
    height: 100%;
    width: 100%;
    grid-area: content;
    padding: 3%;

    margin-top: 100px;
    opacity: 0;
}

.navbar-links-ul {
    /* remove unnecessary spacing */
    padding: 0px;
    display: inline-flex;

    margin-top: 0px;
    margin-bottom: 0px;

    height: 40px;

    /* remove bullet point*/
    list-style-type: none;
}

.navbar-button {
    /* misc */
    cursor: pointer;

    /* spacing */
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;

    /* styling */
    border-radius: 5px;
    font-size: 16px;
    transition: 0.1s ease-out;
    font-weight: bold;
    background: none;
    color: white;
    border: none;
    max-width: 120px;
}

.navbar-button:hover {
    transform: scale(1.048);
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
}

/* used for selected button */
.navbar-button-selected {
    transform: scale(1.048);
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
}

.navbar-links-li-icon-container {
    /* set width of icons container */
    width: 35px;
    /* center icon in container */
    text-align: center;
}

.navbar-links-li-icon {
    visibility: hidden;
    width: 0px;
}

.glass {
    background-color: rgba(255, 255, 255, 0.068);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

@media only screen and (max-width: 750px) {
    .navbar-links-li-text {
        display: none;
    }
    .navbar-button {
        font-size: 0;
    }
    .navbar-links-li-icon {
        font-size: 18px;
    }
    .content-container {
        font-size: 15px;
        margin-top: 0px;
    }
}
